@page
@model WebAssignment.Pages.Authors.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Author</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Author.AuthorID" />
            <div class="form-group">
                <label asp-for="Author.Fname" class="control-label"></label>
                <input asp-for="Author.Fname" class="form-control" />
                <span asp-validation-for="Author.Fname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Lname" class="control-label"></label>
                <input asp-for="Author.Lname" class="form-control" />
                <span asp-validation-for="Author.Lname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Bday" class="control-label"></label>
                <input asp-for="Author.Bday" class="form-control" />
                <span asp-validation-for="Author.Bday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Email" class="control-label"></label>
                <input asp-for="Author.Email" class="form-control" />
                <span asp-validation-for="Author.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Website" class="control-label"></label>
                <input asp-for="Author.Website" class="form-control" />
                <span asp-validation-for="Author.Website" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Phone" class="control-label"></label>
                <input asp-for="Author.Phone" class="form-control" />
                <span asp-validation-for="Author.Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Country" class="control-label"></label>
                <input asp-for="Author.Country" class="form-control" />
                <span asp-validation-for="Author.Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Province" class="control-label"></label>
                <input asp-for="Author.Province" class="form-control" />
                <span asp-validation-for="Author.Province" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Author.Zip" class="control-label"></label>
                <input asp-for="Author.Zip" class="form-control" />
                <span asp-validation-for="Author.Zip" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
